# Ignore Visual Studio files
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# Build outputs
*.dll
*.exe
*.obj
*.pdb
*.ilk
*.log

# Other temp files
*.cache
*.tmp
*.log
*.sdf
ipch/

# Ignore build folders (optional, if you have one)
build/
Debug/
Release/
x64/
